@font-face {
  font-family: "Roboto";
  src: url(../public/fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../public/fonts/Roboto-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../public/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../public/fonts/Montserrat-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}



.header {
  height: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  font: 17px "Montserrat";
  font-weight: bold;
  color: #494949;
  text-transform: uppercase;
}

.header__logo {
  -ms-flex-preferred-size: 175px;
      flex-basis: 175px;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -ms-flex-preferred-size: 528px;
      flex-basis: 528px;
  line-height: 1.2;
}

.header .menu__item:not(:last-child) {
  position: relative;
}

.header .menu__item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: calc(100% + 10px);
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #494949;
}

.banner {
  height: 766px;
  background-image: url(../public/images/pizza.png), url(../public/images/banner.png);
  background-repeat: no-repeat;
  background-position: calc((100vw - 1200px) / 2 + 655px) 49px, calc((100vw - 1820px) / 2) 0;
  padding: 50px;
  width: 100%;
  padding-top: 246px;
  color: #fff;
}

.banner__title {
  width: 600px;
  font: 50px "Roboto";
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 6px;
}

.banner__desc {
  width: 569px;
  font: 25px "Roboto";
  font-weight: 400;
  margin-bottom: 25px;
  text-align: justify;
  line-height: 30px;
}

.banner__link {
  display: block;
  font: 20px "Montserrat";
  line-height: 20px;
  font-weight: bold;
  width: 190px;
  height: 50px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 20px;
  border: 2px solid #fff;
}

.progress {
  height: 982px;
  padding-top: 80px;
  padding-bottom: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}

.progress__title {
  width: 510px;
  margin-left: -15px;
  font: 45px "Roboto";
  font-weight: bold;
  position: relative;
  color: #282828;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.progress__title::before {
  content: url(../public/icons/shape.svg);
  position: absolute;
  top: 0;
  right: calc(100% + 30px);
}

.progress__title::after {
  content: url(../public/icons/shape.svg);
  position: absolute;
  top: 0;
  left: calc(100% + 21px);
}

.progress__subtitle {
  width: 590px;
  font: 20px "Roboto";
  font-weight: 400;
  line-height: 30px;
  color: #959595;
  margin-bottom: 36px;
  text-align: justify;
  word-spacing: .6px;
}

.progress .tab {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  margin-bottom: 62px;
  font-weight: bold;
  margin-left: -14px;
}

.progress .tab__item {
  margin: 0 20px 0  23px;
  position: relative;
}

.progress .tab__item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: calc(100% + 20px);
  top: 5%;
  width: 3px;
  height: 90%;
  background-color: #494848;
}

.progress .tab .active::before {
  content: url(../public/icons/hover-line.svg);
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
}

.progress .tab__link {
  font: 18px "Roboto";
  font-weight: bold;
  color: #494848;
  text-transform: uppercase;
}

.progress .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  background-color: #fff;
  color: #282828;
  height: 403px;
  margin-bottom: 70px;
  width: 1170px;
}

.progress .content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  position: relative;
}

.progress .content__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 55%;
  left: 100%;
  background-color: #959595;
  height: 25%;
  width: 3px;
}

.progress .content__item:nth-child(1) {
  padding: 120px 57px 126px 55px;
  width: 370px;
}

.progress .content__item:nth-child(2) {
  padding: 125px 96px 130px 65px;
  width: 421px;
}

.progress .content__item:nth-child(3) {
  padding: 123px 69px 126px 53px;
  width: 379px;
}

.progress .content__item:nth-child(1) .content__number::after {
  content: url(../public/icons/create.svg);
}

.progress .content__item:nth-child(2) .content__number::after {
  content: url(../public/icons/name.svg);
  left: 85px;
  top: 5px;
}

.progress .content__item:nth-child(3) .content__number::after {
  content: url(../public/icons/fame.svg);
  left: 100px;
}

.progress .content__number {
  font: 120px "Roboto";
  font-weight: 900;
  position: relative;
  margin-bottom: 10px;
}

.progress .content__number::after {
  position: absolute;
  top: -5px;
  left: 70px;
}

.progress .content__title {
  font: 45px "Roboto";
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.progress .content__text {
  width: 257px;
  font: 18px "Roboto";
  font-weight: 400;
  line-height: 24px;
}

.progress .createLegend__link {
  font: 30px "Montserrat";
  font-weight: bold;
  color: #fff;
  line-height: 24px;
  background-image: url(../public/images/create_legend.png);
  background-repeat: no-repeat;
  padding: 35px 57px;
}

.footer {
  height: 106px;
  background-image: url(../public/images/footer_bg.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  font: 20px "Roboto";
  font-weight: 400;
  color: #eaeaea;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */